<h1>Editing books order</h1>

<%= render "form", books_order: @books_order %>

<br>

<div>
  <%= link_to "Show this books order", @books_order %> |
  <%= link_to "Back to books orders", books_orders_path %>
</div>
